.User-my-page {
  background-color: #fff;
  width: 900px;
  padding: 20px;
  & > h1 {
    margin-bottom: 10px;
    border-bottom: 5px groove #3ccace;
    font-size: 28px;
    font-weight: bold;
  }
  &__main {
    height: 1100px;
    overflow-y: scroll;
  }
}

.My-page-content {
  padding: 20px;
  width: 100%;
  display: flex;
  &__image {
    background-color: #dcdcdc;
    width: 120px;
    height: 120px;
    & > img {
      object-fit: contain;
    }
  }
  &__contents {
    flex-grow: 2;
    padding: 5px 30px;
    height: 120px;
    & > h1 {
      font-size: 18px;
      padding-bottom: 15px;
    }
    & p {
      padding: 5px 20px 0 20px;
      font-size: 16px;
    }
    &--price, &--explain {
      display: flex;
      & span {
        font-size: 13px;
        padding-right: 10px;
      }
    }
  }
}