%main
  .logout-page
    .logout-page__content
      %form.logout-page__form{action: "/users/sign_out", :method => "delete"}
        .logout-page__btn
          %button.btn-default.btn-red{type: "submit"} ログアウト