= render partial: 'items/header'

%main
  .logout-page
    .logout-page__content
      %form.logout-page__form{action: "/users/sign_out", :method => "delete"}
        .logout-page__btn
          %button.btn-default.btn-lightblue{type: "submit"} ログアウト

= render partial: 'items/footer_invitation'
= render partial: 'items/footer'