.Top-screen {
  background-image: image-url('material/pict/bg-mainVisual-pict_pc.jpg');
  @include background;
  padding: 60px;
  width: 100vw;
  height: 560px;
  @include shadow-font;
  &__contents {
    padding-top: 120px;
    & > h1 {
      padding-bottom: 18px;
      font-size: 60px;
    }
    & > p {
      margin: 12px 0;
    }
  }
}