.Footer-invitation
  .Footer-invitation__content
    %h4
      だれでもかんたん、人生を変えるフリマアプリ
    %h2
      今すぐ無料ダウンロード！
  .Download-link.position-center
    = link_to image_tag('http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', alt: 'Download on the App Store', width: '175px', class: 'Download-link__apple'), root_path
    = link_to image_tag('badge/google-play-badge.png', alt: 'GET IT ON Google Play', width: '200px', class: 'Download-link__google'), root_path