.buy-main 
  .buy-item-container
    %h2.buy-item-head 購入内容の確認
    .buy-content.buy-item
      .buy-content-inner
        .buy-item-box
          .buy-item-image
            = image_tag('material/icon/icon-01.png', alt: '商品の画像')
          .buy-item-detail
            %p.buy-item-name
              商品名
              %p.buy-item-price.bold
                ¥500
                %span.item-shipping-fee
                  (税込)送料込み
    .buy-content.buy-user-info
      .buy-content-inner
        .buy-price-table
          .buy-price-cell 
            支払い金額
          .buy-price-money
            ¥500
    .buy-content.buy-user-info
      .buy-content-inner
        %h3 支払方法
        .payment-content__creditcards
          = link_to '登録して下さい', buy_items_path, class: 'creditcard'
    .buy-content.buy-user-info
      .buy-content-inner
        %h3 配送先
        .delivery-content__addresses
          = link_to '登録して下さい', buy_items_path, class: 'address'
    .buy-content.buy-user-info
      %button.btn--lightblue{type: "submit"}
        購入する

.exhibit-page__footer
  .exhibit-page__footer__content
    .exhibit-page__footer__content__main
      %ul.exhibit-page__footer__lists
        %li.exhibit-page__footer__list
          プライバシーポリシー
        %li.exhibit-page__footer__list
          FURIMA利用規約
        %li.exhibit-page__footer__list
          特定商取引に関する表記
        %p.exhibit-page__footer__copyright
          2020 FURIMA