.wrapper
  = render partial: 'items/header'

%main
  .sakujyo-page
    .sakujyo-page__content
      .sakujyo-page__form
        .sakujyo-page__btn
          = link_to "削除しました", root_path, class: "btn-default"

= render partial: 'items/footer'