%header
  .header-top
    .header-top__logo
      = image_tag 'material/logo/logo.png' , alt: '使用例の画像', :size => '140x50'
    .header-top__search-bar
      %input.item-search{name: "keyword", placeholder: "キーワードから探す", type: "search", value: ""}
      %i.fa.fa-search.icon


  .header-bottom
    .header-bottom__left
      %ul
        %li
          %h2.nav カテゴリー
        %li
          %h2.nav ブランド
    .header-bottom__right
      %ul
        %li
          %h2.nav ログイン
        %li
          %h2.nav 新規会員登録
  
  
  %banner
  %footer