.exhibit__page
  .exhibit__page__main
    .exhibit__page__main__contents
      %h3.exhibit__page__main__contents__message
        商品の情報を入力
      .form-content
        .img-form
          %h3.img__upload__text
            出品画像
            %span.form--caution 
              必須
          %p.img__upload__comment 最大10枚までアップロードできます
          .dropbox
            %label{class: "dropbox__img"}
              %input{type: "file"}
              %p ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード