@import "common";
@import "top_screen";
@import "reasons";
@import "download_invitation";
@import "features";
@import "pickup";

p {
  font-size: 18px;
}

.Items {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  &__item {
    width: 220px;
    height: 250px;
    
    &--link {
      position: relative;
      & a {
        background-color: $white;
        width: 220px;
        height: 250px;
        display: block;
        position: relative;
      }
      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: 150px;
        object-fit: contain;
        vertical-align: bottom;
      }
      & .info {
        position: absolute;
        padding: 16px;
        width: 220px;
        height: 100px;
        bottom: 0;
        & span {
          font-size: 10px;
        }
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.Last-invitation {
  background-image: image-url('material/pict/bg-appBanner-pict.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px;
  width: 100vw;
  height: 50vh;
  @include shadow-font;
  &__content {
    margin: 0 auto;
    width: 500#{px};
    text-align: center;
    & > h4 {
      font-size: 24px;
      font-weight: bold;
    }
    & > h2 {
      font-size: 35px;
    }
  }
}
// //////////////////////////////////////////////////////

.Download-link {
  &__apple {
    margin: 10px 0 13px;
    &:hover {
      opacity: 0.5;
    }
  }
  &__google:hover {
    opacity: 0.5;
  }
  &.position-center {
    margin-top: 10px;
    text-align: center;
  }
}

.Sell-btn {
  z-index: 10;
  background-color: $furima-blue;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 120px;
  height: 120px;
  transition: 0.5s;
  cursor: pointer;
  @include center-flex;
  & > p {
    color: $white;
  }
  &:hover {
    background-color: lighten($furima-blue, 8%);
  }
}