.Pickup {
  background-color: $gray;
  padding-top: 100px;
  text-align: center;
  &.bottom {
    padding-bottom: 90px;
  }
  & > h1 {
    font-size: 28px;
    font-weight: bold;
  }
  &__link {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    color: $furima-blue;
    text-decoration: none;
  }
  .info {
    text-align: left;
  }
}

.Items {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  &__item {
    width: 220px;
    height: 250px;
    
    &--link {
      position: relative;
      & a {
        background-color: $white;
        width: 220px;
        height: 250px;
        display: block;
        position: relative;
      }
      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: 150px;
        object-fit: contain;
        vertical-align: bottom;
      }
      & .info {
        position: absolute;
        padding: 16px;
        width: 220px;
        height: 100px;
        bottom: 0;
        & span {
          font-size: 10px;
        }
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}