.Search {
  padding: 40px 150px 40px 60px;
  display: flex;
  justify-content: space-between;
  &__side {
    border: 1px solid #4d4d4d;
    width: 260px;
  }
  &__main {
    background-color: #f5f5f5;
    padding: 30px;
    width: 900px;
    &--title {
      display: flex;
      font-size: 20px;
      & .bold {
        font-size: 22px;
        font-weight: bold;
        padding-right: 10px;
      }
    }
    &--count {
      padding: 20px 20px 0;
      line-height: 20px;
      font-size: 12px;
      display: flex;
      color: gray;
    }
    &--contents {
      width: 830px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.Searched-item {
  background-color: #fff;
  margin: 30px 20px;
  padding: 5px;
  width: 160px;
  height: 240px;
  position: relative;
  & > img {
    background-color: #dcdcdc;
    width: 150px;
    height: 160px;
    object-fit: contain;
  }
  &__price {
    position: absolute;
    bottom: 75px;
    right: 5px;
    background-color: rgba(60, 202, 206, 0.8);
    padding: 0 5px;
    min-width: 80px;
    height: 30px;
    text-align: center;
    & > span {
      line-height: 30px;
      color: #fff;
    }
  }
  &__name {
    padding: 8px 3px;
  }
}