.sai__main {
  &__showMain{
    background-color: #EEEEEE;
    width:100%;
    height: 2020px;
    padding: 40px;
    &__contentright{
      &__topcontent{
        &__itembox{
          background-color: #FFFFFF;
          width: 700px;
          margin: 0 auto;
          height: 1230px;
          padding: 24px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            width: 620px;
            height: 36px;
          }
          .itembox__body{
            text-align: center;
          }
          .itembox__price{
            text-align: center;
            font-weight: bold;
            font-size: 50px;
            &__detail{
            text-align: center;
            font-weight: normal;
            font-size: 24px;
            }
          }
          .itemDetail{
            margin: 0px 0px 30px;
          }
          .itemTable{
            width: 620px;
            display: flex;
            justify-content:center;
            table th {
              text-align: center;
              width: 152px;
              margin: 0;
              padding: 8px;
              background-color: #EEEEEE;
              border: solid 1px black;
            }
            table td {
              width: 467px;
              border: solid 1px black;
              padding: 15px;
            }
            &__link1 {
              color:#3CCACE;
              text-decoration: none;
            }
            &__link2 {
              color:#3CCACE;
              text-decoration: none;
            }
            &__link3 {
              color:#3CCACE;
              text-decoration: none;
            }
            &__link4 {
              color:#3CCACE;
              text-decoration: none;
            }
          }
        }
      }
    }
  } 
}

.optionalArea{
  width: 620px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  .optionalBtn__likeBtn{
    width: 134.66px;
    height: 38px;
    padding: 6px 10px;
    font-size: 15px;
    color:#3CCACE;
    border: solid 1px #ffb340;
    border-radius: 19px;
    margin-top: 33px;
  }
  .optionalBtn__hata{
    font-size: 14px;
    width: 165.89px;
    height: 35px;
    padding: 6px 10px;
    border: solid 1px black;
    border-radius: 5px;
    margin-top: 33px;
    &__link{
      color:#333333;
      text-decoration: none;
    }
  }
}

.commentBox{
  background-color: white;
  width: 700px;
  height: 304px;
  margin-top:10px;
  margin-right:auto;
  margin-bottom:10px;
  margin-left:auto;
  padding: 24px;
  &__Form{
    width: 652px;
    height: 104px;
    padding: 10px;
  }
  &__noticeMsg{
    background-color: #F8F8F8;
    width: 652px;
    height: 58px;
    padding: 8px;
    margin: 10px 0px;
    font-size: 14px;
  }
  &__commentBtn{
    width: 391.19px;
    height: 52px;
    padding: 1px 6px;
    font-size: 18px;
    color:#FFFFFF;
    background-color: #3CCACE;
    border: solid 1px #3CCACE;
    border-radius: 100px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.links{
  width: 700px;
  height: 24px;
  margin-top:15px;
  margin-right:auto;
  margin-bottom:15px;
  margin-left:auto;
  display: flex;
  justify-content: space-between;
  &__before{
    &__icon{
      width: 5.72px;
      height: 16px;
      color:#3CCACE;
    }
    &__Btn{
      color:#3CCACE;
      text-decoration: none;
    }
  }
  &__after{
    &__icon{
      width: 5.72px;
      height: 16px;
      color:#3CCACE;
    }
    &__Btn{
      color:#3CCACE;
      text-decoration: none;
    }
  }
}

.relatedItems{
  width: 700px;
  height: 328px;
  margin-top:15px;
  margin-right:auto;
  margin-bottom:15px;
  margin-left:auto;
  &__Btn{
    width: 700px;
    height: 33px;
    margin: 24px 0px 8px;
    color:#3CCACE;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  
  .productLists{
    .productList{
      width: 233.33px;
      height: 245px;
      position: relative;
      & a {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
      &__img{
        width: 220px;
        height: 150px;
        background-color: #fff;
        vertical-align: bottom;
      }
      &__body{
        background-color: #fff;
        width: 233.33px;
        height: 95px;
        padding: 16px;
        margin: 0;
        &__name{
          width: 201.33px;
          height: 24px;
          font-size: 16px;
        }
        &__details{
          &__kakaku{
            width: 201.33px;
            height: 24px;
            display: flex;
            justify-content: space-between;
            &__yen{
              width: 60.5px;
              height: 24px;
              font-weight: bold;
            }
            &__icon {}
          }
          &__zei{
            width: 201.33px;
            height: 15px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.productList:hover {
  opacity: 0.5;
}

.optionalBtn__likeBtn:hover {
  opacity: 0.5;
}

.optionalBtn__hata:hover {
  opacity: 0.5;
}
