@import "mixin";
.showMain{
  background-color: #EEEEEE;
  width:100%;
  padding: 40px;
} 

.itembox{
  background-color: #FFFFFF;
  width: 700px;
  margin: 0 auto;
  padding: 24px 40px 40px;
  &__name{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 620px;
    height: 36px;
  }
  &__body{
    text-align: center;
    .image__sub{
      width: 100%;
      text-align: center;
      margin-top: 10px;
      .image__sub__list{
        display: inline;
        margin-left: 10px;
      }
    }
  }
  &__price{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    &__detail{
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    }
  }
}

.itemDetail{
  margin: 0px 0px 30px;
}

.itemTable{
  width: 620px;
  display: flex;
  justify-content:center;
  table th {
    text-align: center;
    width: 152px;
    margin: 0;
    padding: 8px;
    background-color: #EEEEEE;
    border: solid 1px black;
  }
  table td {
    width: 467px;
    border: solid 1px black;
    padding: 15px;
  }
  table td a {
    color: #3ccace;
    text-decoration: none;
  }
}

.optionalBtn{
  width: 620px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  &__likeBtn{
    width: 134.66px;
    height: 38px;
    padding: 6px 10px;
    font-size: 15px;
    color:#3CCACE;
    border: solid 1px #ffb340;
    border-radius: 19px;
    margin-top: 33px;
  }
  &__hata{
    font-size: 14px;
    width: 165.89px;
    height: 35px;
    padding: 6px 10px;
    border: solid 1px black;
    border-radius: 5px;
    margin-top: 33px;
    &__link{
      color:#333333;
      text-decoration: none;
    }
  }
}

.item-buy__btn__box{
  background-color: white;
  width: 700px;
  margin: 0 auto;
  margin-top:10px;
  margin-bottom:10px;
  padding: 24px;
  flex-direction: column;
  display: flex;
  align-items: center;
  .edit_btn{
    @include buy-btn;
    background-color: #3CCACE;
  }
  .delete_btn{
    @include buy-btn;
    margin-top: 5px;
    background-color: gray;
  }
  .pay_btn{
    @include buy-btn;
    margin-top: 5px;
    background-color: red;
  }
  .login_btn{
    @include buy-btn;
    background-color: #3CCACE;
  }
}

.commentBox{
  width: 700px;
  margin: 0 auto;
  padding: 24px;
  background-color: #fff;

  text-align: center;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #3ccace;
    margin-bottom: 10px;
  }

  &__comment {
    padding: 10px;

    .profile {
      display: flex;
      justify-content: flex-end;
      &__name {
        @include name();
        margin-right: 20px;
      }
      .image {
        font-size: 50px;
        margin-bottom: 5px;
      }
      .seller_or_buyer {
        font-size: 12px;
        padding: 2px;
        border-radius: 8px;
        background-color: #3ccace;
        color: #fff;
      }
    }
    .comment {
      background-color: #dedede;
      width: 83%;
      padding: 8px;
      margin-top: -55px;
      border-radius: 12px;
      margin-left: 49px;

      &__text {
        text-align: left;
        word-break: break-all;
        padding-left: 10px;
      } 
      &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        margin-top: 5px;
        color: #6d6d6d;
        font-size: 12px;

        a {
          text-decoration: none;
          color: #6d6d6d;
        }
      }
    }
    &__other {
      padding: 10px;
      display: flex;
      .profile__right{
        justify-content: flex-start;
        .image {
          font-size: 50px;
          margin-bottom: 5px;
        }
        .seller_or_buyer {
          font-size: 12px;
          padding: 2px;
          border-radius: 8px;
          background-color: #3ccace;
          color: #fff;
        }
      }
      .profile__name {
        @include name();
        margin-left: 20px;
      }
      .comment {
        background-color: #cdf4f4;
        width: 82%;
        padding: 8px;
        margin: 25px 0px 0px -40px;
        border-radius: 12px;


        &__text {
          text-align: right;
          width: 100%;
          word-break: break-all;
          padding-right: 10px;
        } 
        &__bottom {
          display: flex;
          justify-content: space-between;
          padding: 0 10px;
          margin-top: 5px;
          color: #6d6d6d;
          font-size: 12px;

          a {
            text-decoration: none;
            color: #6d6d6d;
          }
        }
        &__icon {
          display: flex;
          .flag {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
.new_comment{
  margin-top: 40px;
  .text_area{
    width: 100%;
    min-height: 104px;
    padding: 10px;
    resize: none
  }
  .commentBox__noticeMsg{
    padding: 8px;
    font-size: 14px;
    background-color: #f8f8f8;
    margin: 10px 0;
    text-align: center;
  }
}

.commentBtn{
  @include blue_link();
  @include opacity();
}

.links{
  width: 700px;
  height: 24px;
  margin-top:15px;
  margin-right:auto;
  margin-bottom:15px;
  margin-left:auto;
  display: flex;
  justify-content: space-between;
  &__before{
    &__icon{
      width: 5.72px;
      height: 16px;
      color:#3CCACE;
    }
    &__Btn{
      color:#3CCACE;
      text-decoration: none;
    }
  }
  &__after{
    &__icon{
      width: 5.72px;
      height: 16px;
      color:#3CCACE;
    }
    &__Btn{
      color:#3CCACE;
      text-decoration: none;
    }
  }
}

.relatedItems{
  width: 700px;
  height: 328px;
  margin-top:15px;
  margin-right:auto;
  margin-bottom:15px;
  margin-left:auto;
  &__Btn{
    width: 700px;
    height: 33px;
    margin: 24px 0px 8px;
    color:#3CCACE;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
}  

.productList{
  background-color: #fff;
  width: 233.33px;
  position: relative;
  & a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__img{
    width: 233.33px;
    height: 150px;
    background-color: #fff;
    vertical-align: bottom;
  }
  &__body{
    background-color: #fff;
    width: 233.33px;
    height: 95px;
    padding: 16px;
    margin: 0;
    &__name{
      width: 201.33px;
      height: 24px;
      font-size: 16px;
    }
    &__details{
      &__kakaku{
        width: 201.33px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        &__yen{
          width: 60.5px;
          height: 24px;
          font-weight: bold;
        }
      }
      &__zei{
        width: 201.33px;
        height: 15px;
        font-size: 10px;
      }
    }
  }
}

.productList:hover {
  opacity: 0.5;
}

.optionalBtn__likeBtn:hover {
  opacity: 0.5;
}

.optionalBtn__hata:hover {
  opacity: 0.5;
}
