$lightgray: #f5f5f5;
$white: #fff;
$lightblue: #0099e8;
$furima-color: #3ccace;

@mixin caution-item {
  display: inline-block;
  line-height: 14px;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  vertical-align: top;
}

@mixin hover-underline {
  opacity:0.6;
  text-decoration: underline;
}

@mixin form-box {
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: $white;
  line-height: 1.5;
  font-size: 16px;
}

.AccountPage {
  min-height: 100vh;
  background-color: $lightgray;
  color: #333;
  font-size: 14px;
 }

.AccountPageHeader {
  height: 130px;
  text-align: center;
  h1 {
    padding-top: 40px;
  }
  .LogoImage:hover {
    opacity:0.6;
  }
}

.AccountPageLogIn {
  width: 450px;
  margin: 0 auto;
  background-color: $white;
  .LoginNoAccount {
    padding: 40px 65px;
    border-bottom: 1px solid $lightgray;
    text-align: center;
    .SignUpBtn {
      display: block;
      width: 100%;
      line-height: 40px;
      margin-top: 8px;
      border-radius: 4px;
      background-color: $lightblue;
      color: $white;
      text-decoration: none;
    }
  }
}

.AccountPageSignUp {
  width: 700px;
  margin: 0 auto;
  background-color: $white;
  .Registration {
    padding: 35px;
    border-bottom: 1px solid $lightgray;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}

.LogInForm {
  padding: 0 65px 40px;
  .ForgetPassword {
    display: block;
    margin-top: 40px;
    color: $lightblue;
    text-decoration: none;
    &:hover {
      @include hover-underline
    }
  }
}

.SignUpForm {
  padding: 0 65px 40px;
  .FormContent {
    max-width: 350px;
    margin: 0 auto;
    .ShowPassword {
      margin-top: 8px;
      &__Text {
        margin-left: 5px;
      }
    }
  }
}

.Field {
  margin-top: 25px;
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  p {
    font-size: 14px
  }
  label {
    font-weight: 600;
  }
  .RequiredItem {
    @include caution-item;
    background-color:#ea352d;
  }
  .AnyItem {
    @include caution-item;
    background-color:#ccc;
  }
  &__InputBox {
    width: 100%;
    margin-top: 8px;
    padding: 10px 15px;
    @include form-box;
  }
  &__MultiInputBox {
    display: flex;
    margin-top: 8px;
    span {
      margin: 0 2px;
      line-height: 40px;
    }
  }
  &__InputBoxHalf {
    width: 171.5px;
    margin-right: 8px;
    padding: 10px 15px;
    @include form-box;
  }
  &__SelectBox {
    width: 75px;
    padding: 0 10px;
    @include form-box;
  }
}

.FormInfoText {
  margin-top: 8px;
  font-size: 14px;
  color: #888;
}

.ActionBtn {
  width: 100%;
  line-height: 50px;
  margin-top: 25px;
  border-radius: 4px;
  border-style: none;
  background-color: $furima-color;
  color: $white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.AccountPageFooter {
  height: 220px;
  padding: 40px;
  text-align: center;
  &__list {
    display: inline-block;
    margin-left: 16px;
    font-size: 12px;
  }
  .FooterContent {
    color: black;
    text-decoration: none;
    &:hover {
      @include hover-underline
    }
  }
}

.alert.alert-warning {
  padding: 10px 0;
  li {
    font-size: 14px;
    text-align: left;
    color: #ff0211;
  }
}