@import "font-awesome-sprockets";
@import "font-awesome";
@import "reset";


@import "show";

@import "user";
@import "error_message";
@import "notifications";
@import "new";
@import "js_preview";
@import "items_index/items";
@import "footer_invitation";

@import "buy";
@import "categories";
@import "users";
@import "header";
@import "footer";
@import "logout";
@import "cards";


input:focus, textarea:focus, select:focus {
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 8px 0 #3ccace;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

label {
  cursor: pointer;
}

