.card-page {
  background-color: #f5f5f5;
  .card {
    display: flex;
    padding: 40px 210px;
    justify-content: center;
    &__main{
      width:700px;
      height: 600px;
      background-color: #fff;
      &__title{
        padding: 32px 16px;
        border-bottom: 1px solid #f5f5f5;
        h2 {
          text-align: center;
          font-size: 24px;
          font-weight: 600;
        }
      } 
      &__info {
        max-width: 375px;
        margin: 0 auto;
        padding: 35px 0;
        label {
          font-size: 14px;
          font-weight: 600;
        }
        .RequiredItem {
          @include caution-item;
          background-color:#ea352d;
        }
        ul {
          display: flex;
          li {
            margin: 5px;
          }
        }
      }
      &__expiration-date{
        margin-top: 28px;
      }
      &__security-code {
        margin-top: 28px;
      }
      &__multi-input-box {
        margin-top: 16px;
      }
      &__body {
        width: 100%;
        height: 240px;
        margin: 0 auto;
        padding: 20px;
        border: 4px solid #3ccace;
        border-radius: 8px;
        background-color: #fff;
        font-weight: bold;
        text-align: center;
        &__title {
          margin-bottom: 40px;
          padding-bottom: 20px;
          border-bottom: 4px solid #3ccace;
          color: #3ccace;
          font-size: 22px;
        }
        &__data {
          margin-top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

.number, .cvc{
  width: 100%;
  line-height: 48px;
  margin-top: 16px;
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.exp_month, .exp_year {
  width: 150px;
  height: 48px;
  padding: 0 56px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #3ccace;
  color: #fff;
  margin-top: 32px;
  width: 100%;
  font-size:17px;
  min-height: 48px;
  padding: 0 24px;
  border-style: none;
  border-radius: 4px;
}